@keyframes butanim{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
body {
    background: url(/img/img.png);
    background-size: cover;
    color: #fff;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    font-style: italic;
    text-shadow: 0 0 2px #fff;
}
#wraper {
    width: 80%;
    margin: 5% 5%;
}

.chat {
    background: rgba(34, 139, 34, 0.2);
    border: 1px solid rgba(34, 139, 34);
    width: 100%;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(34, 139, 34, 0.5);
    padding: 5%;
    border-radius: 5px;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 16px;
}


.inpblock {
    font-size: 18px;
    font-family: sans-serif;
    text-shadow: 0 0 5px #fff;
}

#yourname{
    margin: 2% 2%;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    font-size: 20px;
}

#yourmess {
    margin: 2% 2%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    width: 350px;
}

#send {
    line-height: 30px;
    width: 110px;
    height: 30px;
    border: 1px solid rgba(34, 139, 34, 0.5);
    background: rgba(34, 139, 34, 0.2);
    box-shadow: 5px 5px 10px rgba(34, 139, 34, 0.5);
    border-radius: 5px;
    transition: transform .5s;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 2%;
}

#send:hover {
    animation: butanim;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.message {
    background: rgba(34, 139, 34, 0.2);
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: 5px 5px 10px rgba(34, 139, 34, 0.5);
    padding: 0 5%;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
    margin: 2% 0;
    border: 1px solid gba(34, 139, 34, 0.5);
}

#hist {
    white-space: pre-line;
}
